* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 27, 10);
  color: #ccc;
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;

  h1 {
    color: yellow;
  }

  .debuggingArea {
    font-size: 1.3rem;
  }

  .currentJobs {
    .job {
      margin-bottom: 0.5rem;
      .title {
        .delete {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  form {
    fieldset {
      margin: 2em 2em 2em 0;
      padding: 1.5em 2em 2em 2em;
      border: solid 1px #ccc;
      border-radius: 6px;
      width: 20rem;
      min-width: 200px;
      background-color: #2a2a2a;

      legend {
        padding: 0 0.25em;
        color: rgb(200, 169, 110) !important;
      }

      label {
        display: block;
        margin-bottom: 0.3rem;

        &:after {
          content: ':';
        }
      }

      .row {
        margin-top: 1rem;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        select {
          padding: 0.25rem;
        }
      }

      input[type='text'] {
        padding: 0.5em;
        border: 1px solid #999;
        width: 96%;
        margin-bottom: 0.5rem;
      }

      textarea {
        width: 98%;
        height: 6rem;
      }

      .buttonRow {
        display: flex;
        justify-content: space-between;

        button {
          margin-top: 1rem;
          font-size: 1rem;
          padding: 0.3rem;
          display: flex;
          align-items: center;
        }

        .preview {
          display: flex;
          align-items: center;

          .previewFileName {
            margin-top: 0.8rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
